<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Programmer Fox Club</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <meta charset="utf-8" />
    </head>
    <body>

        <ul id="menu">
            <a href="http://localhost:8080/information"><li>Information</li></a>
            <a th:href="@{'/login/' + ${fox.name} + '/nutrition-store'}"><li>Nutrition Store</li></a>
            <a><li>Trick Center</li></a>
            <a><li>Action History</li></a>
        </ul>

        <img src="/images/greenfox.png" width="200">

        <p th:text="'This is ' + ${fox.name} + '. Currenly living on ' + ${fox.food} + ' and ' + ${fox.drink} + '.'"></p>

        <div th:if="${fox.tricks.size()} == 0">
            <h1>Known Tricks</h1>
            <p th:text="'' + ${fox.name} + ' don\'t know any tricks yet. Go and learn some!'"></p>
        </div>

        <div th:unless="${fox.tricks.size()} == 0">
            <h1>Known Tricks</h1>
            <p th:text="'' + ${fox.name} + ' knows ' + ${fox.tricks.get(0)} + ' trick(s).'"></p>
        </div>

    </body>
</html>