<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Programmer Fox Club</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <a href="http://localhost:8080/information">Information</a>
        <br>
        <img src="/images/greenfox.png" width="200">
=
        <p th:text="'This is ' + ${fox.name} + '. Currenly living on ' + ${fox.food} + ' and ' + ${fox.drink} + '.'"></p>

        <div th:if="${fox.tricks.size()} == 0">
            <p th:text="'' + ${fox.name} + ' dont know any tricks yet. Go and learn some!'"></p>
        </div>

        <div th:unless="${fox.tricks.size()} == 0">
            <p th:text="'' + ${fox.name} + ' knows ' + ${fox.tricks.size()} + 'tricks.'"></p>
        </div>

        <h1>Known Tricks</h1>
        <ul>
            <li>write HTML</li>
            <li>code in Java</li>
        </ul>

    </body>
</html>