<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>List of the Accounts</h1>
<div th:if="${#lists.isEmpty(accounts)}">
    <p>No accounts in the list</p>
</div>
<div th:unless="${#lists.isEmpty(accounts)}" th:each="account : ${accounts}" th:object="${account}">
    <p th:text="'Name: ' + *{name}"></p>
    <p th:text="'Balance: ' + *{balance}"></p>
    <p th:text="'Type of the Animal: ' + *{animalType}"></p>
    
</div>


</body>
</html>