<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>List of the Accounts</h1>

<table style="width: 50%" border="3px">
    <tr>
        <th>Client Name</th>
        <th>Client Balance</th>
        <th>The Type of the Client</th>
        <th>The index of the Client</th>
    </tr>

    <div th:if="${#lists.isEmpty(accounts)}">
    <p>No accounts in the list</p>
</div>

    <tr th:unless="${#lists.isEmpty(accounts)}" th:each="account : ${accounts}" th:object="${account}">
        <td th:text=" *{name}"></td>
        <td th:text=" *{balance}"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="${accountStat.index}"></td>
    </tr>

</table>


</body>
</html>