<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>List of the Accounts</h1>

<table>
    <tr>
        <th>Client Name</th>
        <th>Client Balance</th>
        <th>The Type of the Client</th>
        <th>The ID of the Client</th>
        <th>Rank of the Animal</th>
        <th>Goodness of the Client</th>
    </tr>

    <div th:if="${#lists.isEmpty(accounts)}">
    <p>No accounts in the list</p>
</div>

    <tr th:unless="${#lists.isEmpty(accounts)}" th:style="${account.king} ? 'color:salmon' : 'color:black'" th:each="account : ${accounts}" th:object="${account}">
        <td th:text="*{name}"></td>
        <td th:text="${account.balance} + '.00 Zebra'"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="${accountStat.index}"></td>
        <td th:if="${account.king} == true">KING</td>
        <td th:unless="${account.king} == true" >not a king</td>
        <td th:if="${account.good} == true">GOOD</td>
        <td th:unless="${account.good} == true">not so good</td>
    </tr>

</table>


</body>
</html>