<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Find out what's wrong</title>
</head>

<body>
<h1>User Database</h1>
<h2>Add a new User</h2>
<form action="#" th:action="@{/app}" th:object="${user}" method="post">

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}"/>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}"/>
    <input type="submit" value="Submit" />
</form>


<h2>Existing users</h2>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="swag : ${yolo}">
        <td th:text="${swag.firstName}"></td>
        <td th:text="${swag.lastName}"></td>
    </tr>
</table>
</body>
</html>