<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Add new Todo</title>
    </head>
    <body>

        <h1>Add new Todo here!</h1>
        <form th:action="@{/todo/add}" method="post" th:object="${todo}">
            <input type="text" th:field="*{title}">
            <input type="submit">
        </form>
        
    </body>
</html>

<!--<h1>Form</h1>-->
<!--<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">-->
    <!--<p>Id: <input type="text" th:field="*{id}" /></p>-->
    <!--<p>Message: <input type="text" th:field="*{content}" /></p>-->
    <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->
<!--</body>-->
