@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
    background-color: cadetblue;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility; 
    text-align: left;  
}

table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
  }

  
