<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Main Page</title>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" />


    </head>
    <body>
        <div class="btn btn-default">
        <a href="/submit">Submit your post here!</a>
        </div>
        <h1 class="text-center">Trending posts</h1>
        <br>
        <table class="table table-hover">
        <tr th:each="post : ${posts}">
            <td th:text="${post.counter}"></td>
            <td><a type="button" class="btn btn-primary" th:href="'/' + ${post.id} + '/voteup'">Up!</a></td>
            <td><a type="button" class="btn btn-warning" th:href="'/' + ${post.id} + '/votedown'">Down!</a></td>
            <td><a th:href="${post.url}"><p th:text="${post.text}"></p></a></td>
            </tr>
        </table>

        <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </body>
</html>
