
body {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(129, 129, 129);
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    margin: 0 auto;
    position: relative;
  }

  th {
      font-size: 16px;
      font-weight: lighter;
      background-color: black;
      color: #f2f2f2;
      line-height: 2;
      text-align: center;
      border-bottom:4px solid #9ea7af;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  }

  tr {
      padding: 15px;
      border-bottom: 1px solid #9ea7af;
      border-radius: 3px;
      text-indent: 20px;
      text-align: center;
      font-weight: lighter;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  }
  tr:last-child td:first-child {
    border-bottom-left-radius:5px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius:5px;
  }

  tr:last-child td:first-child {
    border-top-left-radius:5px;
}

  tr:last-child td:last-child {
    border-top-right-radius:5px;
}
  td {
      padding: 10px;
  }

  .months {
      border-right: 1px solid #9ea7af;
  }
  .title1 {
      border-top-left-radius: 5px;
      border-right: 1px solid #9ea7af;
  }
  .title2 {
    border-top-right-radius: 5px;
}



  tr:nth-child(even) {background-color: #f2f2f2;}


