
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>List of all available utilities</h1>

<div class="links">
    <a href="http://localhost:8080/useful/colored">random colored background</ahref>
        <br><br/>
    <a href="http://localhost:8080/useful/email?email=is@this.valid">email validator</ahref>
        <br><br/>
    <a href="http://localhost:8080/useful/encode?text=ilona&number=1">string encoder</ahref>
        <br><br/>
    <ahref>link4</ahref>
        <br><br/>
    <ahref>link5</ahref>
</div>


</body>
</html>